.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav"
   "title title"
  "profileOne header"
  "sectionOne sectionTwo"
  "footer footer";
  grid-gap: 10px;
}

.nav li {
  display: inline;
  padding: 45px
}

.title{
  grid-area: title;
  background-color: whitesmoke;
  text-align: center;
  font-size: 30px;
  font-family: 'Helvetica', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav {
  grid-area: nav;
   background-color: #274C77;
  padding: 20px;
}

.nav a {
  padding: 10px;
  background-color: white;
   border-radius: 25px;
  border: 1px solid royalblue;
  padding: 10px;
  

}

.nav a:hover {
  background-color: gray;
  color: white;
}

header {
  grid-area: header;
  background-color: #087CA7;
  padding: 80px;
  font-size: 20px;
   color: #E7ECEF;
   
  
}

.sectionOne {
  grid-area: sectionOne;
background-color: white;
  
}

.sectionTwo{
  grid-area: sectionTwo;
  background-color: #033860;
  padding: 90px;
  font-size: 20px;
   color: #E7ECEF;
  
}

.profileOne { 
  grid-area: profileOne;
  background-color: white;
}



img {
  max-width: 300px;
}

footer {
  grid-area: footer;
    background-color: #004385;
  padding: 95px;
  font-size: 20px;
   color: #E7ECEF;
}
